@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class=" fw-bold">Welcome in<br /> Steff`s Sweet Academy</h1>
    <br />
    <div class="text-center">
        <h2> Admin panel </h2>
        <hr />
        <p class="fw-bold">
            Here you can "Edit" and "Delete" items from "Show All" dropdown menu.
            <br />
            You can also "Add" new items from "Create New" dropdown menu.
            <br />
            We hope all the response will be "Yes,Chef!!"
        </p>
        <img style="width: 30rem; text-align: center; margin: auto;" src="/cook_bigset.jpg" alt="img for background" />
    </div>
</div>
