@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class=" fw-bold">Welcome in<br/> Steff`s Sweet Academy</h1>
    <br />
  <img class="fluid" src="/beautiful-sweets-festive-table_8353-9634.png"  alt="beautiful sweets picture"/>
 
</div>
