@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Steff`s Sweet Academy</h1>
    <br/>
    <img src="https://img.freepik.com/free-photo/beautiful-sweets-festive-table_8353-9634.jpg?w=996&t=st=1690117206~exp=1690117806~hmac=89b847be10e892ef280db97cb13e9c8e8c1fdae89c3dc86cb0871b38a7b8f759" />
</div>
